* {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
}

#alerts {
  height: 40px;
  text-align: center;
  font-weight: bold;
}

.alert {
  color: green;
}

#historyList {
}

.license {
  max-width: 400px;
}

table td {
  width: 500px;
}

.title {
  margin-top: 15px;
  font-size: large;
  font-weight: bolder;
}

.match {
  padding: 5px;
  font-size: 12px;
}

.zoom {
  background-color: green;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
  position: relative;
}

.addDriver {
  width: 100%;
  margin-bottom: 10px;
}

.dropdown-menu {
  width: 100%;
}

.bi-chevron-double-down {
  position: absolute;
  top: 17px;
  right: 15px;
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
